<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- stripe -->
  <script defer src="https://js.stripe.com/v3/"></script>
  <% if(locals.stripePublicKey) { %>
    <script>
      var stripePublicKey = '<%= stripePublicKey %>'
    </script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <% } %> 
  <!-- internal -->
  <link rel="stylesheet" href="/css/styles.css">
  <script defer src="/js/script.js"></script>
  <% if(locals.isCheckout) { %>
    <script defer src="/js/checkout.js"></script>
    <script>
      var purchasedItems = '<%= purchasedItems %>'
    </script>
  <% } %> 
</head>
<body>
  <%- include('../partials/header.ejs') %>
  <main class="main">
    <%- body %>  
  </main>
  <%- include('../partials/footer.ejs') %> 
</body>
</html>